body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

header {
  max-width: 487px;
  height: 10vh;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
}

.layout__header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-top: 30px;
}
.logo {
  font-size: 24px;
  font-family: "Actor", sans-serif;
}

.nav {
  min-width: 267px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
}
.nav__list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.nav__link {
  color: white;
  text-decoration: none;
}
.nav__link:hover {
  color: blue;
}

.container {
  max-width: 1200px;
  display: flex;
  margin: 10px;
  min-height: 20px;
  height: 100vh;
  margin-left: 40px;
}

.card {
  max-width: 550px;
  min-height: 400px;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.card__info {
  min-width: 100px;
}
.card__image {
  display: flex;
  flex-wrap: wrap;
}
